{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1 class="mt-5">Toutes les catégories de la table category :
	</h1>
	{% for category in categories %}
		<div>
			<h2 class="mt-4">{{ loop.index }}
				/
				{{ category.name }}</h2>
			<a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la fiche</a>
		</div>
	{% else %}
		Aucune catégorie trouvée.
	{% endfor %}
	<div class="my-5">
		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</div>
{% endblock %}
