{% extends 'base.html.twig' %}

{% block title %}catégorie #{{ category.id }}
{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ category.name }}</h1>
        </div>
    </div>
    {% for program in programs %}
        <pre>
            {{ dump(program) }}
        </pre>
    {% endfor %}

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}
