{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>
{# assets/images/logo.png was copied to public/build/images/logo.png #}
<img src="{{ asset('build/images/collines.jpg') }}" alt="collines">

{% endblock %}